<div class="chat_world range-block flexFlowColumn flex-container">
    <div class="range-block-title">
        <h4 data-i18n="Chat Api Preset">
            <span data-i18n="Chat Api Preset for">Chat Api Preset for</span> <span class="chat_name"></span>
        </h4>
    </div>
    <div class="range-block-counter justifyLeft flex-container flexFlowColumn margin-bot-10px">
        <span>
            A selected Api Preset will be bound to this chat. When generating an AI reply,
            it will be used instead of global API.
        </span>
    </div>
    <div class="range-block-range wide100p">
        <select class="chat_api_preset_selector wide100p">
            <option value="">--- None ---</option>
        </select>
    </div>
</div>
